@{
    ViewBag.Title = "TdtuTube";
}

<div class="flex flex-col lg:ml-60 w-full lg:w-4/5 xl:w-5/6" id="mainContainer">


</div>

<script>
    let side = document.querySelector('[data-sidebar-id="@ViewBag.Type"]')
    let div = side.children[0]
    div.classList = "flex items-center space-x-5 bg-sideBarHoverBg px-7 py-2.5 cursor-pointer"
    div.children[0].classList = "material-icons text-white md-21"
    div.children[1].classList = "text-sm font-semibold text-white"
</script>