@{
    ViewBag.Title = "TdtuTube";
}

<div class="flex flex-col lg:ml-60 w-full lg:w-4/5 xl:w-5/6" id="mainContainer">

    @{Html.RenderAction("getTags", "Home");}

    @{Html.RenderAction("getVideos", "Home");}

</div>

<script src="/Scripts/home.js"></script>