<div class="flex flex-col lg:ml-60 w-full" id="videoMainContainer">
    <div id="container-video" style="padding: 4rem">
        <div class="video-search">
            @{Html.RenderAction("searchChannel", "Search");}
            @{Html.RenderAction("searchVideos", "Search");}
        </div>
    </div>
</div>

<script>
    document.getElementById("search").value = "@Html.Raw(ViewBag.Query)";
</script>