
@{
    ViewBag.Title = "Index";
}


<div class="flex flex-col lg:ml-60 w-full" id="videoMainContainer">
    <div id="container-video" style="padding: 4rem">
        <div class="video-search">
            <div class="video-search__ist">
                <div class="video-search__item">
                    <div class="video-search__img relative">
                        <a href="/watch/1">
                            <img class="img-search" src="~/Uploads/Thumbnails/1.png" alt="thumbnail">
                            <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">99:99</span>
                        </a>
                    </div>
                    <div class="video-search__content">
                        <div class="video-search-title" style="font-weight: 500;">This is a simple title</div>
                        <div class="text-xs text-gray-400 sql-date" style="font-size: 14.6px">999 lượt xem • 1 month ago</div>
                        <div class="flex items-center space-x-3">
                            <a title="Admin" href="/channel/">
                                <img class="rounded-full object-cover cursor-pointer" width="24px" height="24px" src="~/Uploads/Avatars/1.png" alt="">
                                <span>
                                    <a title="" href="/watch/" class="text-sm text-bold pr-1" style="color: #35CBED">Admin</a>
                                </span>
                        </div>
                        <div class="video-search-description">
                            Day la discription
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-search__ist">
                <div class="video-search__item">
                    <div class="video-search__img relative">
                        <a href="/watch/1">
                            <img class="img-search" src="~/Uploads/Thumbnails/1.png" alt="thumbnail">
                            <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">99:99</span>
                        </a>
                    </div>
                    <div class="video-search__content">
                        <div class="video-search-title" style="font-weight: 500;">This is a simple title</div>
                        <div class="text-xs text-gray-400 sql-date" style="font-size: 14.6px">999 lượt xem • 1 month ago</div>
                        <div class="flex items-center space-x-3">
                            <a title="Admin" href="/channel/">
                                <img class="rounded-full object-cover cursor-pointer" width="24px" height="24px" src="~/Uploads/Avatars/1.png" alt="">
                                <span>
                                    <a title="" href="/watch/" class="text-sm text-bold pr-1" style="color: #35CBED">Admin</a>
                                </span>
                        </div>
                        <div class="video-search-description">
                            Day la discription
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-search__ist">
                <div class="video-search__item">
                    <div class="video-search__img relative">
                        <a href="/watch/1">
                            <img class="img-search" src="~/Uploads/Thumbnails/1.png" alt="thumbnail">
                            <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">99:99</span>
                        </a>
                    </div>
                    <div class="video-search__content">
                        <div class="video-search-title" style="font-weight: 500;">This is a simple title</div>
                        <div class="text-xs text-gray-400 sql-date" style="font-size: 14.6px">999 lượt xem • 1 month ago</div>
                        <div class="flex items-center space-x-3">
                            <a title="Admin" href="/channel/">
                                <img class="rounded-full object-cover cursor-pointer" width="24px" height="24px" src="~/Uploads/Avatars/1.png" alt="">
                                <span>
                                    <a title="" href="/watch/" class="text-sm text-bold pr-1" style="color: #35CBED">Admin</a>
                                </span>
                        </div>
                        <div class="video-search-description">
                            Day la discription
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-search__ist">
                <div class="video-search__item">
                    <div class="video-search__img relative">
                        <a href="/watch/1">
                            <img class="img-search" src="~/Uploads/Thumbnails/1.png" alt="thumbnail">
                            <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">99:99</span>
                        </a>
                    </div>
                    <div class="video-search__content">
                        <div class="video-search-title" style="font-weight: 500;">This is a simple title</div>
                        <div class="text-xs text-gray-400 sql-date" style="font-size: 14.6px">999 lượt xem • 1 month ago</div>
                        <div class="flex items-center space-x-3">
                            <a title="Admin" href="/channel/">
                                <img class="rounded-full object-cover cursor-pointer" width="24px" height="24px" src="~/Uploads/Avatars/1.png" alt="">
                                <span>
                                    <a title="aaa" href="/watch/" class="text-sm text-bold pr-1" style="color: #35CBED">Admin</a>
                                </span>
                        </div>
                        <div class="video-search-description">
                            Day la discription
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
