@model TdtuTube.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Header.cshtml";
}

<div class="flex flex-col lg:ml-60 w-full lg:w-4/5 xl:w-5/6 studio-container" id="mainContainer">
    @if (Model == null)
    {
        <h1>Tài khoản không tồn tại</h1>
    }
    else
    {
        <h2 style="color:whitesmoke;" class="studio-title">Nội dung của kênh</h2>
        if (ViewBag.Meta != "playlists" && ViewBag.Meta != "users")
        {
            <div class="studio-tab-container">
                <div class="studio-tab studio-tab-active">
                    <a class="studio-tab-title" href="/studio/index/videos">Video</a>
                </div>
                <div class="studio-tab">
                    <a class="studio-tab-title" href="/studio/index/playlists">Danh sách phát</a>
                </div>
                <div class="studio-tab">
                    <a class="studio-tab-title " href="/studio/index/users">Thông tin cá nhân</a>
                </div>
            </div>
            <div>
                <button class="studio-upload-btn">
                    <i class="fa-solid fa-video fa-lg" style="color: #ffffff;"></i>
                    <a class="create-vid-link" href='@Url.Action("getVideo", "Studio")'>Thêm một video mới</a>
                </button>
                @{Html.RenderAction("GetInfoVideo", "Studio", new { userId = Model.id });}
            </div>
        }
        else if (ViewBag.Meta == "playlists")
        {
            <div class="studio-tab-container">
                <div class="studio-tab">
                    <a class="studio-tab-title" href="/studio/index/videos">Video</a>
                </div>
                <div class="studio-tab studio-tab-active">
                    <a class="studio-tab-title " href="/studio/index/playlists">Danh sách phát</a>
                </div>
                <div class="studio-tab">
                    <a class="studio-tab-title " href="/studio/index/users">Thông tin cá nhân</a>
                </div>
            </div>
            <div>
                @{Html.RenderAction("getInfoPlaylist", "Studio", new { userId = Model.id });}
            </div>
        }
        else if(ViewBag.Meta == "users")
        {
            <div class="studio-tab-container">
                <div class="studio-tab">
                    <a class="studio-tab-title" href="/studio/index/videos">Video</a>
                </div>
                <div class="studio-tab">
                    <a class="studio-tab-title " href="/studio/index/playlists">Danh sách phát</a>
                </div>
                <div class="studio-tab studio-tab-active">
                    <a class="studio-tab-title " href="/studio/index/users">Thông tin cá nhân</a>
                </div>
            </div>
            <div>
                @{Html.RenderAction("getInfoUser", "Studio", new { userId = Model.id });}
            </div>
        }
    }
</div>

<script>
    let side = document.querySelector('[data-sidebar-id="@ViewBag.Type"]')
    let div = side.children[0]
    div.classList = "flex items-center space-x-5 bg-sideBarHoverBg px-7 py-2.5 cursor-pointer"
    div.children[0].classList = "material-icons text-white md-21"
    div.children[1].classList = "text-sm font-semibold text-white"
</script>